ExampleFileInputFixedLength/RecordFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
    <element name="Message">
    <complexType>
    <sequence>
    <element name="RecordNumber" type="integer"/>
    <element name="RecordData" type="string"/>
    </sequence>
    </complexType>
    </element>
</schema>